<div class="flex justify-center mb-20">
  <div *ngIf="(task$ | async) as task">
    <h1><span class="text-blue-900">#{{ task.id }}</span> {{ task.title }}</h1>
    <p>createdAt: {{ task.createdAt }} - deadline {{ task.deadline }}</p>
    <p>assignedDeveloperId: {{ task.assignedDeveloperId }}</p>
    <p>{{ task.description }}</p>
    <p>{{ task.status }}</p>
  </div>
</div>
