<app-task-submission-button></app-task-submission-button>
<button (click)="back()" class="ml-10 mt-10"><i class="ri-arrow-left-line text-5xl hover:opacity-70"></i></button>
<app-task-detail
  [task$]="task"
></app-task-detail>
